.navbar {
  background-color: rgb(42, 42, 42);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.clickables {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .clickables {
    font-size: 13px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
