.container {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 100vh;
  margin-left: 100px;
  margin-right: 100px;
}

.displayPicture {
  width: 70%;
  height: 70%;
  border-radius: 25px;
  transition: 0.3s ease;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.displayPicture:hover {
  transform: scale(1.05);
}

.text {
  text-align: justify;
}

.content {
  display: flex;
  justify-content: left;
  gap: 50px;
}

.about {
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px rgba(61, 61, 61, 0.3);
  margin: 0px;
  padding: 0px;
  position: relative;
}

.subSection {
  cursor: pointer;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-right: 20px;
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
}

.subSection:hover::after {
  right: 0;
}

.subSection::after {
  content: '';
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 0px;
  height: 2px;
  border-bottom: 2px solid rgb(117, 117, 117);
  transition: right 0.5s ease;
}

.subSection:not(.activeTab):hover::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  height: 2px;
  border-bottom: 2px solid rgb(117, 117, 117);
  transition: right 0.5s ease;
}

.activeTab::after {
  content: none;
}

.activeTab {
  border-bottom: 2px solid #90e0ef;
}

.overview {
  height: 100px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fadeIn {
  opacity: 1;
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }

  .displayPicture {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    transition: 0.3s ease;
  }
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  .about {
    width: 100%;
    text-align: left;
  }

  .displayPicture {
    width: auto;
    height: auto;
    max-width: 80%;
    margin: 0 auto;
  }

  .text {
    text-align: justify;
  }

  .content {
    flex-direction: row;
    align-items: center;
  }
  .overview {
    height: 100px;
    transition: opacity 0.5s ease;
    align-self: flex-start;
    width: 90%;
    text-align: left;
  }
}
