.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 100vh;
  margin-left: 200px;
  margin-right: 200px;
}

.displayPicture {
  width: 300px;
  height: 300px;
  border-radius: 25px;
}

.content {
  display: flex;
  justify-content: left;
  gap: 50px;
}

.about {
  position: relative;
}

.subSection {
  cursor: pointer;
  color: rgb(0, 0, 0);
  margin-right: 20px;
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
}

/* Hover effect */
.subSection:hover::after {
  right: 0;
}

.subSection::after {
  content: '';
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 0px;
  height: 2px;
  border-bottom: 2px solid rgb(11, 36, 177);
  transition: right 0.5s ease;
}

.subSection:not(.activeTab):hover::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  height: 2px;
  border-bottom: 2px solid rgb(11, 36, 177);
  transition: right 0.5s ease;
}

.activeTab::after {
  content: none;
}

.activeTab {
  border-bottom: 2px solid rgb(11, 36, 177);
}

.overview {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fadeIn {
  opacity: 1;
}
