.card {
  margin: 10px;
}

.image {
  object-fit: cover;
  filter: blur(0.7px);
  transition: filter 0.3s;
}

.image:hover {
  filter: blur(0); /* Remove blur on hover */
}

.title {
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.desc {
  text-align: left;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

/* ----------------SECTION CSS--------------------- */

.sectionTitle {
  justify-content: center;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  font-size: 50px;
  margin-bottom: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: center;
  height: 1200px;
}

.carouselContainer {
  width: 95%;
  margin: 0 auto;
}
