body {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

.parallax {
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.container {
  padding: 10px, 10%;
}

.headerText {
  margin-top: 20%;
  font-size: 30px;
}

.headerText h1 {
  font-size: 60px;
  margin-top: 20px;
}

.headerText span {
  color: #ff004f;
}
