@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.title {
  color: #2e5a88;
  margin-top: -50px;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.subtitle {
  margin-top: -50px;
  font-size: 19px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 100px;
  margin-right: 100px;
}

.contactContainer {
  margin: 0px;
  height: 300px;
  margin-left: 100px;
  margin-right: 100px;
}

.socialMedia {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon {
  width: 30px;
  height: 30px;
  transition: 0.3s ease;
}

.icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.addMe {
  position: absolute;
  opacity: 1;
}

.downloadButton {
  color: white;
  cursor: pointer;
  border-radius: 4px;
  padding: 15px 32px;
  font-size: 16px;
  border: none;
  margin-top: 55px;
  background-color: #2d5d83;
  transition: background-color 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

.downloadButton:hover {
  background-color: #4f9bd9;
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .title {
    font-size: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .subtitle {
    font-size: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .addMe {
    margin-top: 145px;
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  .contactContainer {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .title {
    font-size: 30px;
    margin-top: 10px;
  }

  .subtitle {
    font-size: 15px;
    margin-top: 5px;
  }

  .addMe {
    display: none;
  }

  .socialMedia {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .downloadButton {
    margin-top: 20px;
  }
}
