.navbar {
  background-color: rgb(42, 42, 42);
  position: fixed;
  top: 0;
  width: 100%;
}

.scrollTo {
  cursor: pointer;
  color: rgb(255, 255, 255);
  margin-right: 20px;
  position: relative;
  display: inline-block;
}

.scrollTo:hover::after {
  right: 0;
}

.scrollTo::after {
  content: '';
  position: absolute;
  left: 0;
  right: 100%;
  bottom: -5px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: right 0.3s ease; 
}


.clickables {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}