.pageContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: clip;
}

.lanyardContainer {
  height: 100%;
  width: 100%;

  position: absolute;
  z-index: 0;
}

.title {
  color: white;
  font-size: var(--font-size-4);
}

.experienceContainer {
  width: var(--half-view-width);
  left: var(--padding-5);
  height: 100%;

  position: absolute;
  z-index: var(--layer-3);

  display: flex;
  flex-direction: column;

  justify-content: flex-end;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.experienceContainer > p {
  color: var(--white);
  font-size: var(--font-size-4);

  overflow: visible !important;
  font-weight: 700;

  margin: 0;
}

.scrollHint {
  font-size: var(--font-size-2);
  font-weight: 600;

  width: auto;
  transition: opacity 1s ease-in-out;
  margin-bottom: var(--padding-05);
}

.timelineWrapper {
  height: 50vh;
}

@media screen and (max-width: 1024px) {
  .experienceContainer {
    width: 80vw;
    height: 70vh;
    bottom: 0;
  }

  .lanyardContainer {
    overflow: hidden;
  }
}
