.navBar {
    position: absolute;
    z-index: var(--layer-2);

    height: var(--nav-height);

    width: 100%;
    max-width: var(--max-width);
    justify-self: center;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: var(--padding-2);
}

.navBar a {
    position: relative;
    text-decoration: none;
    color: var(--white);
    font-size: var(--font-size-1);
}

.navBar a:hover {
    cursor: pointer;
}

.navBar section {
    display: flex;
    gap: var(--padding-3)
}

.navBar img {
    height: 2.5rem;
}